# Question 1:
__Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.__
* __Input Format:__ The first line of the input contains an email address.
* __Output Format:__Print the company name in single line.
* Example;
* Input:john@google.com
* Output: google

In [1]:
s = str(input("enter the email address:"))
s = s[s.find("@")+1:s.find(".")]
print(s)

enter the email address:hrithik@yahoo.com
yahoo

# Question 2:
__Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.__
* __Input Format:__The first line of input contains words separated by the comma.
* __Output Format:__Print the sorted words separated by the comma.
* Example:
* Input:without,hello,bag,world
* Output:bag,hello,without,world

In [2]:
string = str(input("enter the words seperated by comma:"))
lst = string.split(",")
lst.sort()
for i in lst:
    print(i, end=",")

enter the words seperated by comma:zarkhi,novo,military,rozhok,farm
farm,military,novo,rozhok,zarkhi,

# Question 3:
__Create your own Jupyter Notebook for Sets. Reference link: https://www.w3schools.com/python/python_sets.asp__

In [3]:
a = set(["a", 1, 2, 3, 4, 4, 5, 6])  # initialization of set

In [4]:
a  # display of set|

{1, 2, 3, 4, 5, 6, 'a'}

In [5]:
a.add(23)  # add an element to set
a

{1, 2, 23, 3, 4, 5, 6, 'a'}

In [6]:
b = a.copy()  # copying one element to another set
b

{1, 2, 23, 3, 4, 5, 6, 'a'}

In [7]:
b.update("5")  # add element 5 to set b
b

{1, 2, 23, 3, 4, 5, '5', 6, 'a'}

In [8]:
b.difference(a)  # set b difference with a

{'5'}

In [9]:
b.intersection(a)  # display common elements using intersection

{1, 2, 23, 3, 4, 5, 6, 'a'}

In [10]:
b.discard("2")  # deleting element 2 from set b
b

{1, 2, 23, 3, 4, 5, '5', 6, 'a'}

In [11]:
b.union(a)  # elements after union of a and b

{1, 2, 23, 3, 4, 5, '5', 6, 'a'}

In [12]:
b.remove('5')  # removing element 5
b

{1, 2, 23, 3, 4, 5, 6, 'a'}

In [13]:
b.clear()  # clearing the set
b

set()

# Question 4:
__Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.__

* __Input Format:__ The first line contains n-1 numbers with each number separated by a space. 

* __Output Format__: Print the missing number 

* Example: 
* Input:1 2 4 6 3 7 8 
* Output:5


* __Explanation:__ In the above list of numbers 5 is missing and hence 5 is the input

In [19]:
n = input()
l=[]
set1 = set()
set2 = set()
for i in n:
    if(i != " "):
        set1.add(int(i))
for j in range(1, len(set1)+2):
    set2.add(j)
print(set1)
print(set2)
print(set2-set1)

1 2 3 4 6 7
{1, 2, 3, 4, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{5}

In [17]:
def find_missing(lst): 
    return [x for x in range(lst[0], lst[-1]+1)  
                               if x not in lst] 
n= input()
lx=list(map(int,n.split())) 

print(lx)
print(find_missing(lx))

1 2 5 7 9 12
[1, 2, 5, 7, 9, 12]
[3, 4, 6, 8, 10, 11]

# Question 5:
__With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.__

* Example: If the input list is 12 24 35 24 88 120 155 88 120 155

* Then the output should be 12 24 35 88 120 155

* __Explanation:__ Third, seventh and ninth element of the list L has been removed because it was already present. Input Format: In one line take the elements of the list L with each element separated by a space. Output Format: Print the elements of the modified list in one line with each element separated by a space. Example: Input: 12 24 35 24 Output: 12 24 35

In [6]:
n = input()
a = n.split(" ")
lst = []
set1 = set()
set2 = set()
lst2 = []
lst3 = []

for i in a:
    if(i != " "):

        lst.append(i)
e = set(lst)


for j in e:
    lst2.append(int(j))

lst2.sort()

for k in lst2:
    print(k, end=" ")

12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155

In [21]:
n = input()
a = n.split(" ")
lst = []
set1 = set()
set2 = set()
lst2 = []
lst3 = []

for i in a:
    if(i != " "):

        lst.append(i)
e = set(lst)

for j in e:
    lst2.append(int(j))

lst2.sort()

for k in lst2:
    print(k,end=" ")

1 1 1 1 2 3 4 5 5 6 6 7
1 2 3 4 5 6 7